<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newDash.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Stock Data{% endblock %}</title>

</head>

<body>
  <nav>
    <div id="first">
      <div id="second">
        <img src="static/images/Logo.png" alt="image description" width=140px height=40 px>
      </div>

      <div class="nav1">
        <a class="link" href="/dashboard">
          <h3>DASHBOARD</h3>
        </a>

      </div>
      <div class="nav1">
        <a class="link" href="/NIFTY50">
          <h3>NIFTY 50</h3>
        </a>

      </div>
      <div class="nav1">
        <a class="link" href="/filter">
          <h3>FILTER</h3>
        </a>

      </div>

      <div class="nav2">

      </div>

      <div class="nav1">
        <a class="link" href="/logout">
          <h3>LOG OUT</h3>
        </a>

      </div>
    </div>
      <div class="line">
      </div>
    

  </nav>

  <!-- Sidebar -->


  <!-- Content Section -->
  <section>
    {% block content %}{% endblock %}
  </section>

</body>

</html>