<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="C:\Users\ahirw\Desktop\nd.css">
   <title>Document</title>
</head>
<body>
      <div id = "first"  >
            <div  id = "second" >
               <img  src="C:\Users\ahirw\Desktop\test\Groww_app_logo.png" alt="image description" width = 150px height = 40 px>
            </div>
            <div  id = "third" >
              <a  class="link"  href="#"><h3>Explore</h3></a>

            </div>
            <div  id = "fourth" >
               <a  class="link"  href="#"><h3>Investments</h3></a>
 
             </div>
             <div  id = "third" >
               <a  class="link"  href="#"><h3>Explore</h3></a>
 
             </div>
             <div  id = "fourth" >
                <a  class="link"  href="#"><h3>Investments</h3></a>
  
              </div>
              <div  id = "fourth" >
               <a  class="link"  href="#"><h3>Investments</h3></a>
 
             </div>
            <!-- <div id = "third">
              <h1  >Groww</h1>
            </div> -->
      </div>
   <div id = "fifth">
      <!-- <div  id = "sixth" >
         <a  class="link"  href="#"><h3>Stocks</h3></a>

       </div>
       <div  id = "seventh" >
          <a  class="link"  href="#"><h3>Mutual Funds</h3></a>

        </div> -->
       
   </div>
  
</body>
</html>