{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dash.css') }}">
    <h1 id="welcome">Welcome, {{username}}!</h1>

    <!-- Stock List -->
    <h3 id = "stk">Stocks:</h3>
    <ul id = "uld">
        {% for stock in stocks %}
            <li><a href="#">{{ stock.name }}</a></li>
        {% endfor %}
    </ul>

    <!-- Dropdown for Stock Operations -->
    <h3  id = "so" >Select Operation:</h3>
    <form id = "from" action="{{ url_for('dash') }}" method="post">
        <label for="operationType">Operation Type:</label>
        <select name="operationType" id="operationType">
            <option value="view">View Stock</option>
            <option value="buy">Buy Stock</option>
            <option value="sell">Sell Stock</option>
        </select>
        <button type="submit">Perform Operation</button>
    </form>
{% endblock %}
