{% extends "base.html" %}

{% block content %}

<div id="fifth">
    <h3>Welcome {{username}} !!</h3>
</div>
<div id="fifth">
    <h3>Enter the price of stock , for list of stocks having average stock price more than entered value : </h3>
</div>
<div id="id14">
    <div id="id15">
        <form action="/filter/" method="post">



            <input id="filter_input" type="number" name="avg" placeholder="Average">

            <button type="submit">FILTER</button>



        </form>
    </div>
</div>

<div id="filter_list">

    <div id="filter_list_header">
        <h3>These are the filtered stocks: </h3>
    </div>


    <div id="filter_group">
        {% for i in range(0,len-1) : %}

        <div>
            <div class="new">
               <p>{{ filteredStocks[i] }}</p>
            </div>
        </div>

        {% endfor %}

    </div>



</div>


{% endblock %}