<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="C:\Users\ahirw\Desktop\nd.css">
   <title>Document</title>
</head>
<body>
      <div id = "first"  >
            <div  id = "second" >
               <img  src="C:\Users\ahirw\Desktop\test\Groww_app_logo.png" alt="image description" width = 150px height = 40 px>
            </div>
            <div  id = "third" >
              <a  class="link"  href="#"><h3>Explore</h3></a>

            </div>
            <div  id = "fourth" >
               <a  class="link"  href="#"><h3>Investments</h3></a>
 
             </div>
             <div  id = "third" >
               <a  class="link"  href="#"><h3>Explore</h3></a>
 
             </div>
             <div  id = "fourth" >
                <a  class="link"  href="#"><h3>Investments</h3></a>
  
              </div>
              <div  id = "fourth" >
               <a  class="link"  href="#"><h3>Investments</h3></a>
 
             </div>
            <!-- <div id = "third">
              <h1  >Groww</h1>
            </div> -->
      </div>
   <div id = "fifth">
      <!-- <div  id = "sixth" >
         <a  class="link"  href="#"><h3>Stocks</h3></a>

       </div>
       <div  id = "seventh" >
          <a  class="link"  href="#"><h3>Mutual Funds</h3></a>

        </div> -->
        <h3>WELCOME USER</h3>
   </div>
  
   <div id = "eighth">
      <h5>MARKET OPENS AT 9:15 AM</h5>
   </div>
   <div id = "nineth">
      <div id = "eleventh">
       
        
            <div class="select">
               <h3  id = "so" >Start Your Investments :</h3>
               <div id = "newFormdiv">
               <form id = "from" action="{{ url_for('dash') }}" method="post">
                
                   <select  name="operationType" id="operationType">
                       <option value="view">View Stock</option>
                       <option value="buy">Buy Stock</option>
                       <option value="sell">Sell Stock</option>
                   </select>
                   <button type="submit">Perform Operation</button>
                
               </form>
            </div>
           </div>

         <div id = "thirteenth">
           
               <h3 id = "stk">Stocks:</h3>
               <ul id = "uld">
                   {% for stock in stocks %}
                       <li><a href="#">{{ stock.name }}</a></li>
                   {% endfor %}
               </ul>
        
         </div>

      </div>


      <div id = "tenth">
         <div id = "tenth1">
            <div id = "tenth11">
               <p>Index</p>
            </div>
            <div id = "tenth12">
               <p>All indices</p>
            </div>
       
                        </div>

                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>
                           <div id = "tenth2">
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>
                              <div >
                                 <h5  class = "new">NIFTY 50</h5>
                              </div>

                           </div>

                           
                       
        
      </div>
     
   </div>
</body>
</html>